body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#rec_cate{
  border:0.6rem solid #263238;
  border-radius:0.8rem;
  padding:1rem;
}
#rec_cate li{
  margin:0.3rem 0 0.3rem 0;
  min-width:10rem;
}