<!doctype html>
<html>
    <head>
        <title>newspot</title>
        <link rel="stylesheet" href="/css/materialize.css"/>
        <link rel="stylesheet" href="/css/master.css">
        <script src="/js/materialize.js"></script>
        <script src="/js/master.js"></script>

    </head>
    <body class="blue-grey darken-3">
        <div class="container">
            <header>
                <div class="row">
                    <nav class="blue-grey darken-4">
                        <div class="nav-wrapper">
                            <a href="/" class="brand-logo">
                                <img src="images/newspot_logo.png" width="160" alt="logo">
                            </a>
                            <ul class="right">
                                <li><a href="/release">Recently Released</a></li>
                                <li><a href="/recommend">Category Recommends</a></li>
                                <li><a href="/search">Search</a></li>
                            </ul>
                        </div>
                    </nav>
                    <div class="col s12">
                        <%if(result!==undefined&&result.msg!==undefined){%>
                            <%-result.msg%>
                        <%}%>
                    </div>
                </div>

            </header>
            <section>